<%- include(process.cwd() + '/res/templates/global/global_template_header') %>

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-9">
            <h3 id="preview-header">
            <i class="file-icon fas <%= postData.fileExtensionClass %> mr-1"></i>
            <%= postData.title %>
                <h5 class="text-muted">
                    <a href="#" class="text-muted">By <%= postData.userName%></a> | 
                    <span class="star-count">
                        [TODO: ADD STAR RATINGS]
                    </span>
                    | Posted <%= postData.rawDate %>
                </h5>
            </h3>

            <p>
            <%= postData.descriptionFull %>
            </p>

            <div class="mb-3">
                <h4>Preview</h4>
                <% if (postData.previewImages != null) { %>
                    <% for (i = 0; i < postData.previewImages.length; i++) { %>
                        <img src="<%= postData.previewImages[i] %>" class="preview-image"/>
                    <% } %>
                <% } else { %>
                    <i>No preview images are available.</i>
                <% } %>
            </div>

            <h4>Answers</h4>
            <i>Answers are provided in the main document.</i>
        </div>
        <div class="col-sm mt-sm">
            <h4>Details</h4>
            <span class="text-muted">
            File:
            </span>
            <%= postData.fileName %>

            <br/>
            <span class="text-muted">
            Size:
            </span>
            <%= postData.fileSizeSimple %>

            <br/>
            <span class="text-muted">
            Posted:
            </span>
            <%= postData.rawDate %>

            <br/>
            <span class="text-muted">
            Average star rating:
            </span>
            [TODO: ADD STAR RATINGS]

            <br/>
            <span class="text-muted">
            Downloaded:
            </span>
            [TODO: ADD VIEW COUNT]

            <a href="/download/<%= postData.objectId %>" class="btn btn-primary mt-2" role="button" style="display: block;">
            <i class="file-icon fas <%= postData.fileExtensionClass %> mr-1 text-white"></i>
            Download
            </a>

            <br/>
            <span class="text-muted">
            Tags:
            </span>
            <br/>
            <% if (postData.tags != null) { %>
                <% for (i = 0; i < postData.tags.length; i++) { %>
                    <a href="/search?q=tags:<%= postData.tags[i] %>" class="btn btn-light mt-2 border" role="button">
                        <%= postData.tags[i] %>
                    </a>
                <% } %>
            <% } else { %>
                <i>This <%= basics.Objectname %> has no tags. :-(</i>
            <% } %>
        </div>
    </div>
</div>
  
<%- include(process.cwd() + '/res/templates/global/global_template_footer') %>