<% for (i=0; i < generatorData.maxToGenerate && i < generatorData.postArray.length; i++) { %>
    <% if (i % generatorData.maxPerRow == 0) { %> <!-- Split given popular posts into rows-->
        <div class="row">
    <% } %>
        <div class="col-sm card mt-1 mr-1">
            <div class="card-body">
            <h5 class="card-title"> <i class="file-icon fas fa-file-pdf mr-2"></i><%= generatorData.postArray[i].title %></h5>
            <h6 class="card-subtitle mb-2 text-muted">
                <span class="star-count">
                [TODO: ADD STAR RATINGS]
                </span>
                | <%= generatorData.postArray[i].userName %> | <%= generatorData.postArray[i].simpleDate %>
            </h6>
            <p class="card-text"><%= generatorData.postArray[i].descriptionShort %></p>
            <a href="<%= generatorData.postArray[i].seeMoreLink %>" class="card-link">See more</a>
            <a href="<%= generatorData.postArray[i].downloadLink %>" class="card-link">Download</a>
            </div>
        </div>
    <% if (((i - 1) % generatorData.maxPerRow == 0) || (i == generatorData.postArray.length - 1)) { %> <!-- Close the row when it has max items for the row or at end of list-->
        </div>
    <% } %>
<% }; %>