<%- include(process.cwd() + '/res/templates/global/global_template_header') %>

<div class="container">
    <br/>

    <h1 class="mb-3">Search: </h1>
    <div class="d-flex">
        <input class="form-control searchInput" type="search" placeholder="Search" aria-label="Search"
            <% if (typeof(searchQ) !== 'undefined' && searchQ != null) { // If on search page, add search query to search bar %>
                value="<%- searchQ %>" 
            <% } %>
        > <i class="fas fa-search ml-2 text-dark my-auto" aria-hidden="true"></i> <!-- search icon-->
    </div>
    <br/>

    <i> <%- generatorData.postArray.length %> 
        result<% if (generatorData.postArray.length != 1) { %>s <% } %> <!-- Remove 's' if only one result-->
    </i>

    <br/>
    
    <br/>
    <% if (generatorData.postArray.length == 0) { %>
        <br/>
        <p>
            <b>No results were found.</b> <br/>
            Try refining your search terms.
        </p>
    <% } %>
    <%- include(process.cwd() + '/res/templates/postPreviewCardGenerator') %>
</div>

<%- include(process.cwd() + '/res/templates/global/global_template_footer') %>