<%- include(process.cwd() + '/res/templates/global/global_template_header') %>

<div class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000"> 
    <div class="toast-header"> 
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"> 
            <span aria-hidden="true">&times;</span> 
        </button> 
    </div> 
    <div class="toast-body"> 
        You must <a href="/signin">sign in</a> to like/dislike reviews. 
    </div> 
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-9">
            <h3 id="preview-header">
            <i class="file-icon fas <%= postData.fileExtensionClass %> mr-1"></i>
            <%= postData.title %>
                <h5 class="text-muted">
                    <a href="#" class="text-muted">By <%= postData.userName%></a> | 
                    <%- include(process.cwd() + '/res/templates/ratingGenerator.ejs') %>
                    | Posted <%= postData.rawDate %>
                </h5>
            </h3>

            <p>
            <%= postData.descriptionFull %>
            </p>

            <div class="mb-3">
                <h4>Preview</h4>
                <% if (postData.previewImages != null) { %>
                    <% for (i = 0; i < postData.previewImages.length; i++) { %>
                        <img src="<%= postData.previewImages[i] %>" class="preview-image"/>
                    <% } %>
                <% } else { %>
                    <i>No preview images are available.</i>
                <% } %>
            </div>

            <h4>Notes</h4>
            <i><%= postData.notes %></i>

            <div id="review-container">
                <h4>Reviews:</h4>

                <div id="review-entry-container" style="
                    padding: 15px;
                    background-color: #f2f2f2;
                    border: #d8d8d8 0.1px solid;
                    border-radius: 3px;
                ">
                    <% if (user.signedIn) { %>
                        <label>Rating:</label>

                        <div class="input-group">
                            <input type="hidden" id="star-rating-choice" />
                            <button class="btn btn-outline-secondary form-control input-star-btn" id="input-star-btn-1"><i class="fas fa-star" aria-hidden="true"></i></button>
                            <button class="btn btn-outline-secondary form-control input-star-btn" id="input-star-btn-2"><i class="fas fa-star" aria-hidden="true"></i></button>
                            <button class="btn btn-outline-secondary form-control input-star-btn" id="input-star-btn-3"><i class="fas fa-star" aria-hidden="true"></i></button>
                            <button class="btn btn-outline-secondary form-control input-star-btn" id="input-star-btn-4"><i class="fas fa-star" aria-hidden="true"></i></button>
                            <button class="btn btn-outline-secondary form-control input-star-btn" id="input-star-btn-5"><i class="fas fa-star" aria-hidden="true"></i></button>
                        </div>
                        
                        <label for="review-submit">Review text <span class="text-secondary">(optional)</span>:</label>

                        <div class="input-group">
                            <textarea class="form-control" id="review-text" rows="3" placeholder="Enter review..."></textarea>
                            <div class="input-group-append" id="review-submit">
                                <button class="btn btn-outline-primary" type="button" style="
                                background-color: #2f8750 !important;
                                border: #000 !important;
                                color:  #fff !important;">
                                    <i class="fas fa-arrow-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    <% } else { %>
                        You must <a href="/signin">sign-in</a> to create reviews.
                    <% } %>
                </div>
                <br/>

                <%- reviewHTML %>

                <% if (reviewData.length != 0) if (!reviewData[reviewData.length - 1].isEnd) { %>

                    <button type="button" class="w-100 btn btn-outline-secondary" id="more-review-btn">More reviews...</button>

                <% } %>
            </div>
        </div>
        <div class="col-sm mt-sm">
            <h4>Details</h4>
            <span class="text-muted">
            File:
            </span>
            <%= postData.fileName %>

            <br/>
            <span class="text-muted">
            Size:
            </span>
            <%= postData.fileSizeSimple %>

            <br/>
            <span class="text-muted">
            Posted:
            </span>
            <%= postData.rawDate %>

            <br/>
            <span class="text-muted">
            Average star rating:
            </span>
            <%= postData.rating %>

            <br/>
            <span class="text-muted">
            Downloaded:
            </span>
            <%= postData.downloadCount %>

            <a href="/download/<%= postData.objectId %>" class="btn btn-primary mt-2" role="button" style="display: block;">
            <i class="file-icon fas <%= postData.fileExtensionClass %> mr-1 text-white"></i>
            Download
            </a>

            <br/>
            <span class="text-muted">
            Tags:
            </span>
            <br/>
            <% if (postData.tags != null) { %>
                <% for (i = 0; i < postData.tags.length; i++) { %>
                    <a href="/search?q=tags:<%= postData.tags[i] %>" class="btn btn-light mt-2 border" role="button">
                        <%= postData.tags[i] %>
                    </a>
                <% } %>
            <% } else { %>
                <i>This <%= basics.Objectname %> has no tags. :-(</i>
            <% } %>
        </div>
    </div>
</div>
  
<%- include(process.cwd() + '/res/templates/global/global_template_footer') %>