<div class="row mx-0 review" id="template-review" access-date="" style="display: none">
    <div class="col-sm card mt-1 mr-1">
        <div class="card-body">
            <h5 class="card-title">
                <span id="template-review-star-count" class="star-count">

                </span>
                By: <span id="template-review-user"></span>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
                Submitted: <span id="template-review-date"></span>
            </h6>
            <p class="card-text">
                <span id="template-review-text"></span>
            </p>

            <div class="review-details">
                <span class="text-secondary">
                    <span class="like-count">0</span> likes 
                </span>
                <button role="button" class="btn btn-outline-secondary btn-sm <% if (!user.signedIn) { %> not-logged-in <% } %> " disabled>
                        <i class="far fa-thumbs-up" aria-hidden="true"></i>
                        Like
                </button>

                <button role="button" class="btn btn-outline-secondary btn-sm <% if (!user.signedIn) { %> not-logged-in <% } %> " disabled>
                    <i class="far fa-thumbs-down" aria-hidden="true"></i> 
                    Dislike
                </button>
            </div>
        </div>
    </div>
</div>

<% for (x = 0; x < reviewData.length; x++) { %>
    <% if (reviewData[x].isEnd) {%>
        <span id="end-reviews"></i> <!-- Let script know to remove button -->
    <% } else { %>
        <div class="row mx-0 review" id="review-<%= reviewIDs[x] %>" access-date="<%= reviewAccessTime %>">
            <div class="col-sm card mt-1 mr-1">
                <div class="card-body">
                    <div class="top-row">
                        <h5 class="card-title">
                            <% ratingType = "review" %>
                            <%- include(process.cwd() + '/res/templates/ratingGenerator.ejs'); %>
                            <% ratingType = undefined %>

                            By: <%= reviewData[x].reviewUser %> 
                        </h5>

                        <% if (reviewData[x].reviewUser == user.name || flags.ENABLE_EXPERIMENTAL_REPORT_FEATURE) { // Only display dropdown if there are actually options to display %>
                            <div class="dropdown">
                                <button class="btn btn-sm btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <% if (flags.ENABLE_EXPERIMENTAL_REPORT_FEATURE) { %>
                                        <span class="dropdown-item review-report-btn">Report</span>
                                    <% } %>
                                    <% if (reviewData[x].reviewUser == user.name) { %>
                                        <a class="dropdown-item text-danger review-delete-btn" href="#">Delete</a>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                    </div>

                    <h6 class="card-subtitle mb-2 text-muted">
                        Submitted: <%= reviewData[x].reviewDate %>
                    </h6>
                    <p class="card-text">
                        <%= reviewData[x].reviewText %>
                    </p>

                    <div class="review-details">
                        <span class="text-secondary">
                            <span class="like-count"><%= reviewData[x].reviewLikes %></span> likes 
                        </span>
                        <button role="button" class="<%= reviewData[x].reviewBtnClasses.like %> <% if (!user.signedIn) { %> not-logged-in <% } %>"
                        <% if (reviewData[x].reviewUser == user.name) { %> disabled <% } // If same user who created review %>>
                                <i class="far fa-thumbs-up" aria-hidden="true"></i>
                                Like
                        </button>

                        <button role="button" class="<%= reviewData[x].reviewBtnClasses.dislike %> <% if (!user.signedIn) { %> not-logged-in <% } %>" 
                        <% if (reviewData[x].reviewUser == user.name) { %> disabled <% } %>>
                            <i class="far fa-thumbs-down" aria-hidden="true"></i> 
                            Dislike
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
<% } x = 0; %>